{
    "env": {
      "node": true
    },
    "extends": [
      "airbnb-base",
      "plugin:prettier/recommended"
    ],
    "plugins": [
      "prettier"
    ],
    "root": true,
    "rules": {
      "no-console":"off",
      "no-plusplus":"off",
      "no-extend-native": "off",
      "prettier/prettier": "error",
      "no-param-reassign": [
        "error",
        {
          "props": false
        }
      ]
    }
  }